/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/* Container for the whole page */
.login-container {
 position: relative;
 width: 100%;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

/* Background zoom only */
.animated-bg {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center;
 filter: blur(1px) brightness(45%);
 animation: zoomBG 20s ease-in-out infinite;
 z-index: -1;
}

/* Zoom animation */
@keyframes zoomBG {
 0% { transform: scale(1); }
 50% { transform: scale(1.15); }
 100% { transform: scale(1); }
}

/* Card styling */
.login-card {
 position: relative;
 background: rgba(255, 255, 255, 0.15);
 backdrop-filter: blur(8px);
 border-radius: 2rem;
}




/* Controls the inner padding for the left and right panels (Shorter height) */
.login-panel-padding {
    padding: 2rem; 
}


/* Buttons */
.btn-secondary {
 padding: 10px;
 border: 2px solid #fff;
 border-radius: 12px;
 background: transparent;
 color: #fff;
 font-weight: 600;
 cursor: pointer;
 transition: 0.3s ease;
}

.btn-secondary:hover {
 background: #fff;
 color: #008080;
}